<h1>SCORE LEVEL</h1>

<div class="container">
    <div class="row">

        <td>
            <mat-dialog-actions>

                <button mat-raised-button class="addButton">Add data</button></mat-dialog-actions>
        </td>
    </div><br>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Score</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let val of riskScoreLevels">
                <td>{{val.score}}</td>
                <td>{{val.level}}</td>
                <td>
                    <button (click)="updateRiskScoreLevel(val.score)" class="btn btn-info">Update</button>
                    <button (click)="deleteRiskScoreLevel(val.score)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                </td>
            </tr> -->
        </tbody>

    </table>
</div>