<h1>SCORE CAP</h1>


<div class="container">
    <div class="row">

        <td>
            <mat-dialog-actions>

                <button mat-raised-button class="addButton" (click)="openPopup()">Add data</button></mat-dialog-actions>
        </td>
    </div><br>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Condition</th>
                <th>Total Risk Capped Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of scoreCaps">
                <td>{{val.condition}}</td>
                <td>{{val.totalRiskCappedScore}}</td>
                <td>
                    <button class="UpdateButton" (click)="openUpdatePopup(val.condition)">Update</button>
                    <button class="DeleteButton" style="margin-left: 10px;" (click)="onDelete(val.condition)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>