<h1>CALCULATION LOGIC</h1>


<div class="container">
    <div class="row">
        <td>
            <mat-dialog-actions>

                <button mat-raised-button class="addButton" (click)="openPopup()">Add data</button></mat-dialog-actions>
        </td>
    </div><br>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Element Name</th>
                <th>Formula</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of allCalculationLogic">
                <td>{{val.elementName}}</td>
                <td>{{val.formula}}</td>
                <td>
                    <button class="UpdateButton" (click)="updatePopup(val.elementName)">Update</button>
                    <button (click)="deleteRiskCalc(val.elementName)" class="DeleteButton" style="margin-left: 10px;">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>