<h1>DIMENSION WEIGHT</h1>
<div class="container">
    <div class="row">

        <td>
            <mat-dialog-actions>

                <button mat-raised-button class="addButton" (click)="openPopup()">Add/Update data</button></mat-dialog-actions>
        </td>

    </div><br>
    <table class="table table-striped table-bordered" id="dimensionWeightTable" *ngIf="showTable">
        <thead class="table-dark">
            <tr>
                <th>Dimension</th>
                <th>Weight(%)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of dimensionWeights">
                <td>{{val.dimension}}</td>
                <td>{{val.weight}}</td>
        </tbody>

    </table>
</div>