<!doctype html>
<html lang="en">

<body class="mat-typography">

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>

            <div class="center-container">


                <div class="container">
                    <p id="para">Result based on latest Data</p><br><br>
                    <table #tableRef class="table table-striped table-bordered">
                    </table>

                </div>

                <div class="text-center">
                    <button type="button" class="homeButtons" (click)="recalculate()">Recalculate</button><br><br>
                    <button type="button" class="homeButtons" routerLink="/view">View Data</button>
                </div>
            </div>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>