<h1 mat-dialog-title>Please provide the details below :</h1><br>

<div mat-dialog-content>

    <div class="container">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Select Dimensions</mat-label><br>
                <mat-select [(ngModel)]="selectedItems" multiple>
                    <mat-option *ngFor="let item of items" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>

    </div>




</div>
<div mat-dialog-actions>
    <button class="AddButton" id="AddButton" role="button" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;&nbsp;
    <button class="CloseButton" id="CloseButton" role="button" mat-dialog-close>Close</button>
</div>